body {
    background-image: url("https://images.unsplash.com/photo-1506318137071-a8e063b4bec0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1493&q=80");
    background-size: 100%;
    background-color: black;
}
span {
    color: #FFEF57;
}
h1 {
    color: #FFEF57;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
}

.btn-card {
    background-color: #54608A;
    outline-style: solid 3px;
    outline-color: #3f4a74;
}
.btn-card:hover {
    background-color: #3f4a74;
}
